.button-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    
    
}


.pad-btn {
    width: 25%;
    outline: 1px solid #989898;
    background: #d2c8c8;
}

.pad-btn:first-child {
    width: 50%;
}
.pad-btn:nth-child(16) {
    width: 50%;
}

.operator:hover {
background: #9898ff;
}

.button-c:active {
    background: #bbb3b3
}