
* {
  box-sizing: border-box;
}

.calculator {
  background-color: #9aa7c1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

.main {
  width: 400px;
  height: 60vh;
  background: blue;
  display: flex;
  flex-direction: column;
}
 .row {
   display: flex;
   width: 100%;
 }
 button {
   border:none;
 }



